<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>this is home page</title>
</head>

<body>
	<!-- <section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Grab A Cycle</h1>
			<p>Check out an extensive range of bicycles online. We havecycles and bikes for all brand for every rider at
				the best price..</p><a th:if="${user != null and user.role=='ROLE_BUYER'}"
				th:href="@{/buyer/dashboard/viewCycle/0}"><button class="btn btn-lg text-white" id="shopnow">Shop
					Now..!!</button></a></a> <a th:if="${user != null and user.role=='ROLE_ADMIN'}"
				th:href="@{/admin/index/0}"><button class="btn btn-lg text-white" id="shopnow">MyDashboard</button></a>
		</div>    
	</section> -->

	   <section>   <!-- news section start -->
		<!-- contact section start -->


	


		<div class=" ">
			<div id="main_slider" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container">
							<div class="row">
								<div class="col-md-7">
									<div class="best_text">Best</div>
									<div class="image_1"><img src="img/img-1.png"></div>
								</div>
								<div class="col-md-5">
									<h1 class="banner_taital">New Model Cycle</h1>
									<h3 class="banner_text">It is a long established fact that a reader will be
										distracted by
										the readable content </h3>

										
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container">
							<div class="row">
								<div class="col-md-7">
									<div class="best_text">Best</div>
									<div class="image_1"><img src="img/img-5.png"></div>
								</div>
								<div class="col-md-5">
									<h1 class="banner_taital">New Model Cycle</h1>
									<h3 class="banner_text">It is a long established fact that a reader will be
										distracted by
										the readable content </h3>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container">
							<div class="row">
								<div class="col-md-7">
									<div class="best_text">Best</div>
									<div class="image_1"><img src="img/img-2.png"></div>
								</div>
								<div class="col-md-5">
									<h1 class="banner_taital">New Model Cycle</h1>
									<h3 class="banner_text">It is a long established fact that a reader will be
										distracted by
										the readable content </h3>


									
								</div>
							</div>
						</div>
					</div>
				</div>
				
			
			</div>

	</section>    
</body>

</html>