body{
	background:#e2e2e2!important;
	padding-top: 55px;
	height: 100%;
	
}


.my-card{
	padding :20px;
	background: #FFFFFF;
	}

/*.bg-primary{
	background: #009688 !important;
}
*/
.banner{
	width:100%;
	height:93vh;
	background:Linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(https://images.unsplash.com/photo-1529422643029-d4585747aaf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y3ljbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60)no-repeat center fixed;
	background-size:cover;
	color: white;
	background-color: black;
	z-index: 999;

}



/* sidebar style */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999999999999999999999999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {
	margin-left: 20%;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}



.navbar , .dropdown-menu{
  overflow: visible;
  
  background: #C34A36 !important;
  overflow:visible;
  top: 0; 
  width: 100%; /* Full width */
  position: fixed;
  
}


.dropdown-menu{
	margin-top: 30%;

}

#shopnow btn {
	background: #C34A36 !important;
}

#registerbody{
	margin-top: 5%;
}




#footer {
  
  bottom: 10;
  z-index:-1;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  height:100px;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  
}

footer {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: -5px;
 
  background-color: rgb(0, 0, 0, 1);
  opacity: 0.6;
  color: white;
  font-size: 14px;
}


.container{

}



/*  search css */

.search-container{
	position: relative;
}
.search-result{
	position: absolute;
	background:white;
	width: 100%;
	padding:10px;
	border: 1px solid gray;
	display: none;
}

.active{
	background:#C34A36 !important;
	color:white!important;
}

.my_profile_picture{
	width: 35px;
	height: 35px;
	object-fit:cover;
	/*border-radius:50%;*/
	
}

