<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>

	<section>

		<div class="card mr-3 ml-3">

			<div class="card-body">

				<h1 class="text-center">Cycles</h1>


				<!-- search -->

				<div class="search-container my-3">


					<input onkeyup="search()" id="search-input" type="text"
						class="form-control" placeholder="Search your cycles" />

					<div class="search-result">

						<!--  result goes here -->


					</div>



				</div>



				<div class="table-responsive">
					<table class="table table-hover ">
						<thead class="thead-light ">
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Type</th>
								<th scope="col">Model</th>
								<th scope="col">Description</th>
								<th scope="col">Price</th>

								<th scope="col">Quantity</th>
								<th scope="col">Image</th>

								<th scope="col">Status</th>

								<th scope="col">Action</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="c : ${cycles}">





								<td th:text="${c.name}"></td>

								<td th:text="${c.type}"></td>

								<td th:text="${c.model}"></td>

								<td th:text="${c.description}"></td>

								<td th:text="${c.price}"></td>


								<!--<td th:if="${c.quantity>0}" th:text="(${c.quantity}) " style="color:rgb(0, 128, 64)">In stock</td>-->

								<td th:text="${c.quantity}"></td>

								<td><a th:href="@{'/img/'+${c.imageurl}}" target="_blank">
										<img width="220" height="250" border="0" align="center"
										th:src="@{'/img/'+${c.imageurl}}" />
								</a></td>


								<td th:if="${c.quantity>0}" style="color: rgb(0, 128, 64)">In
									stock</td>


								<td th:if="${c.quantity<=0}" style="color: rgb(255, 0, 0)">Out
									of stock</td>








								<!--<td th:if="${c.quantity>0}"><a ><button th:onclick="|bookCyclefun(${c.cid})|" class="btn btn-primary"> Book </button></a></td>-->
								<td th:if="${c.quantity>0}"><a
									th:href="@{'/buyer/addToCart/'+${c.cid}}"
									class="btn btn-primary"> Add to cart</a></td>





								<td th:if="${c.quantity<=0}"><a><button type="button"
											class="btn btn-light" disabled>Add to Cart</button></a></td>





							</tr>
						</tbody>
					</table>
				</div>

				<!--  pagination part -->


				<nav aria-label="Page navigation example">

					<ul class="pagination">

						<li th:if="${currentPage != 0}" class="page-item"><a
							th:href="@{'/buyer/dashboard/viewCycle/'+${currentPage-1}}"
							class="page-link" href="#">Previous</a></li>



						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}"
							class="page-item"><a
							th:href="@{'/buyer/dashboard/viewCycle/'+${i-1}}"
							class="page-link" href="#"><span th:text="${i}"></span></a></li>


						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							th:href="@{'/buyer/dashboard/viewCycle/'+${currentPage+1}}"
							class="page-link" href="#">Next</a></li>
					</ul>
				</nav>



			</div>

		</div>


	</section>


</body>
</html>



